

    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img" style="background-image: url(img/bg-img/hero1.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content">
                        <h3 class="breadcumb-title">Contact</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <section class="south-contact-area section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="contact-heading">
                        <h6>Contact info</h6>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="content-sidebar">
                        <!-- Office Hours -->
                        <div class="weekly-office-hours">
                            <ul>
                                <li class="d-flex align-items-center justify-content-between"><span>Lundi - Vendredi</span> <span>09 AM - 19 PM</span></li>
                                <li class="d-flex align-items-center justify-content-between"><span>Samedi</span> <span>09 AM - 14 PM</span></li>
                                <li class="d-flex align-items-center justify-content-between"><span>Dimanche</span> <span>Fermer</span></li>
                            </ul>
                        </div>
                        <!-- Address -->
                        <div class="address mt-30">
                            <h6><img src="img/icons/phone-call.png" alt=""> +1 514 919-3324</h6>
                            <h6><img src="img/icons/envelope.png" alt=""> infos@immobimax.com</h6>
                            <h6><img src="img/icons/location.png" alt=""> Av. Eliot, Chomedey, numéro 4811 à 5271, H7W 0G1,<br>Laval, CA</h6>
                        </div>
                    </div>
                </div>

                <!-- Contact Form Area -->
                <div class="col-12 col-lg-8">
                    <div class="contact-form">
                        <form action="#" method="post">

                            <div class="form-group {{#if validationErrors.name}}has-error{{/if}}">
								<input type="text" name="name.full" class="form-control" placeholder="Votre nom" value="{{formData.[name.full]}}">
                            </div>
                        
                            <div class="form-group {{#if validationErrors.email}}has-error{{/if}}">
                                <input type="email" class="form-control" name="email" id="contact-email" placeholder="Votre adresse courriel" value="{{formData.email}}">
                            </div>

							<div class="form-group">
								<input type="text" name="phone" placeholder="télephone (optionnel)" class="form-control" value="{{formData.phone}}">              
                            </div>

                            <div class="form-group  {{#if validationErrors.message}}has-error{{/if}}">
                                <textarea class="form-control" name="message" id="message" cols="30" rows="10" placeholder="Votre message">{{formData.message}}</textarea>
                            </div>

                            <button type="submit" class="btn south-btn">Envoyer</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>


<div>
	<div class="row">
		<div class="col-sm-8 col-md-9">
			<h4 class="text-weight-normal">Notre équipe</h4>
			<div class="blog">
				{{# each data.membres.results}}
				<div data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="post">
					<h2><a href="{{postUrl slug}}">{{{title}}}</a></h2>
					<p class="lead text-muted">{{{categoryList categories prefix="Posted in "}}}
							{{#if author.name.first}}by {{author.name.first}}{{/if}}
					</p>
					{{#if image}}<img src="{{{cloudinaryUrl image width=160 height=160 crop='fit' }}}" class="img pull-right">{{/if}}
					<p>{{{content.extended}}}</p>
					<p></p>
                    <p></p>
                    <p></p>
				</div>
				{{/each}}
			</div>
		</div>
		
	</div>
	{{>pagination}}
</div>


<div>
	<div class="row">
		<div class="col-sm-8 col-md-9">
			<h4 class="text-weight-normal">Quelques témoignages</h4>
			<div class="blog">
				{{# each data.temoignages.results}}
				<div data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="post">
					<h2><a href="{{postUrl slug}}">{{{title}}}</a></h2>
				
							{{#if author.name.first}}by {{author.name.first}}{{/if}}
					
					{{#if image}}<img src="{{{cloudinaryUrl image width=160 height=160 crop='fit' }}}" class="img pull-right">{{/if}}
					<p>{{{content.extended}}}</p>
					<p></p>
                    <p></p>
                    <p></p>
				</div>
				{{/each}}
			</div>
		</div>
		
	</div>
	{{>pagination}}
</div>